/* css variables  */
@import url('https://fonts.googleapis.com/css2?family=Readex+Pro:wght@300;400;500;600;700&display=swap');

:root{
    --mainTextColor-dark:#fff;
    --secondaryTextColor-dark:#adb0b1;
    --mainLinkColor-dark:rgb(30, 190,214);
    --mainBorderColor-dark:#2b3031;
    --mainBgColor-dark:#131415;


    --mainTextColor: var(--mainTextColor-dark);
    --secondaryTextColor: var(--secondaryTextColor-dark);
    --mainLinkColor: var(--mainLinkColor-dark);
    --mainBorderColor: var(--mainBorderColor-dark);
    --mainBgColor: var(--mainBgColor-dark);
}
/* General Styling  */
* {
    font-family: 'readex pro';
    line-height: 1.52em;
    box-sizing: border-box;
    color: var(--mainTextColor);
}

body {
    background-color: var(--mainBgColor);
}

p a li {
    color:var(--secondaryTextColor);
    font-size: 1em;
}

a {
    color: var(--mainLinkColor);
    font-size: 500;
    text-decoration: none;
}

li {
    line-height: 1.9em;
    list-style: square;
}
/* Element Styling  */

#container--main {
    max-width: 700px;
    margin: 0 auto;
}

.section--page {
    padding-top: 1em;
    padding-bottom: 1em;
}

#wrapper--hero {
    display: flex;
    align-items: center;
    gap: 3em;
}

#user-name {
    font-size: 3em;
    line-height: 1em;
}

#bio , a {
    font-weight: 300;
}

#profile-pic {
    border-radius: 50%;
    height: 180px;
    width: 180px;
}

#social--list {
    display: flex;
    justify-content: space-around;
    column-gap: 1em;
    flex-wrap: wrap;
}

#social--list a {
    color: var(--secondaryTextColor);
    font-size: 0.9em;
    transition: 0.5ms;
}

#social--list a:hover {
    color: var(--mainLinkColor);
}

#wrapper--techstack__items {
    font-size: 0.9em;
    display: flex;
    flex-wrap: wrap;
    gap: 1.5em;
}

.card--techstack {
    border: 1px solid var(--mainBorderColor);
    border-radius: 5px;
    padding: 0.5em 1em;

}

#g--mail {
    background-color: rebeccapurple;
}